/* -------------------------------
         BASIC SETUP 
-------------------------------- */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* .container {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
} */

html, body {
    /* see code below for full background cover */
    background: url(img/bg-desktop.png) no-repeat center fixed;
    background-size: cover;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-rendering: optimizeLegibility;
    /* add overflow so that text doesnt go beyond x-axis  */
    /* overflow-x: hidden; */
    max-width: 1140px;
    height: auto;
    margin: auto;
    
}

.container {
    /* display: inline-block; */
    margin-top: 250px;
}

.quote {
    padding-left: 92px;
    position: absolute;
}

.atr  {
    color: black;
    font-size: 22px;
    
}

.light {
    font-weight: 300;
    color: grey;
}



.lon {
    width: 800px;
    word-wrap: break-word;


}

.lon2 {
    width: 825px;
    word-wrap: break-word;
    margin-top: -50px;
    display: none;






}

 p {
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    padding-bottom: 25px;
    z-index: 99;
    font-weight: 300;

}

.wordss {
    
    position: absolute;
    width: 680px;
    /* top: 18%; */
    margin-top: -460px;
    float: right;
    margin-left: 418px;

}

.john {
    display: none;
    padding-bottom: 10px;
}

.tanya {
    /* display: none; */
}


#back {
    margin-top: -520px;
}

#front {
    width: 530px;
    margin-left: 490px;
    /* box-shadow: 0px 10px 10px gray; */

    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 0px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#end {
    margin-top: 20px;
    margin-left: -147px;
    position: fixed;

}

.wrap {
    position: relative;

}

.wrap1 {
    /* position: relative; */
}

.selector {
    position: relative;
    margin-left: 560px;
    margin-top: 45px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    border-radius: 50px / 50px;
    border: 4px;
    /* box-shadow: 1px 50px 1px gray; */


}

.left {
    margin-left: 15px;
    padding-top: 15px;
    padding-right: 40px;
    
}

.right {
    padding-right: 10px;
    
}




/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .clearfix {zoom: 1;}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
} */

/* .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    flex: 1;
  } */


.words {

    color: black;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    position: relative;
    margin-right: 180px;
}

.specific {
    position: relative;
}



.attribution {
    display: none;
}
